.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
}

.mainContent {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.contentArea {
  flex: 1;
  overflow-y: auto;
  background-color: #0f0f0f;
}

.contentArea::-webkit-scrollbar {
  width: 8px;
}

.contentArea::-webkit-scrollbar-track {
  background: #0f0f0f;
}

.contentArea::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 4px;
}

.contentArea::-webkit-scrollbar-thumb:hover {
  background: #626262;
}
